<div class="row">



  <div class="col-md-6">
    <div class="white-selection">
      <h5>Basket Summary</h5>
      <table>
        <tr>
          <td width="300px">Subtotal</td>
          <td class="price-align">{{subtotal}}</td>
        </tr>
        <tr>
          <td>Shipping Cost</td>
          <td class="price-align">{{shippingCost}}</td>
        </tr>
        <tr style="font-weight:bold; border-top: 1pt solid black;">
          <td>Grand Total</td>
          <td class="price price-align">{{grandTotal}}</td>
        </tr>
      </table>
    </div>
  </div>

</div>
<br />
<div class="row">
  <div class="col-md-6">
    <div class="white-selection">
      <h5>Billing Address</h5>
      <form method="post" class="form-group">


        <input placeholder="First Name" class="form-control" />
        <br />
        <input placeholder="Last Name" class="form-control" />
        <br />
        <input placeholder="Address 1" class="form-control" />
        <br />
        <input placeholder="Address 2" class="form-control" />
        <br />
        <select class="form-control">
          <option>Isle of Man</option>
          <option>England</option>
          <option>Wales</option>
          <option>Scotland</option>
          <option>Ireland</option>
        </select>
        <br />

        <input placeholder="Post Code" class="form-control" />
        <br />
        <input placeholder="City" class="form-control" />
      </form>
    </div>
  </div>
  <div class="col-md-6">
    <div class="white-selection">
      <h5>Card Details</h5>
      <form method="post" class="form-group">


        <input placeholder="Cardholder's Name" class="form-control" />
        <br />
        <input placeholder="Card Number" class="form-control" />
        <br />
        <input placeholder="CVV2 Security Number" class="form-control" />
        <br />
        <input placeholder="Expiry Date" class="form-control" />
      </form>
    </div>
  </div>

</div>

<br />

<button class="btn btn-primary colour-comp" style="width:100%">Buy Now</button>

