<nav class="navbar navbar-expand colour-primary header">
  <ul class="nav nav-pills">
    <li>
      <a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/home']">Rain Forest</a>
    </li>
    <li><a class="nav-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/products']">Products</a></li>
    <li><a class="nav-link fa fa-shopping-cart cart" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" [routerLink]="['/basket']">  {{basketAmount}}</a></li>
  </ul>
</nav>

<div class="colour-secondary body">
  <router-outlet></router-outlet>
</div>

<footer class="colour-primary palm-footer">
  <img src="assets/images/palm-tree.png" [routerLink]="['/home']"/>
</footer>
