<div class="row">
  <h1>Products Page</h1>
  <div class="col-10 form-group">
    <input class="form-control" type="text"
           placeholder="Search" [(ngModel)]="listFilter" />
  </div>
  <button class="btn btn-primary col-2 form-control colour-primary"
          (click)="toggleDisplayOption()">
    {{displayOption ? "Table" : "Grid"}}
  </button>
</div>
<br />

<div *ngIf="displayOption">

  <div *ngIf="filteredProducts && filteredProducts.length" class="white-selection">
    <div class="row">
      <div *ngFor="let product of filteredProducts" class="col-lg-3 col-md-4 col-sm-6 col-12">

        <product-grid displayLine="true" [product]="product"></product-grid>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!displayOption">
  <div *ngIf="filteredProducts && filteredProducts.length" class="white-selection">
    <div *ngFor="let product of filteredProducts">

      <product-table [product]="product"></product-table>
      <hr />
    </div>
  </div>
</div>
